@media (max-width: 991.98px) {

    /*Global*/
    .sections-detail {
        margin: 0 0 30px;
    }
    /*Banner*/
    .crochet-creations .banner .top-bar-left a {
        font-size: 17px;
    }

    .crochet-creations .banner .banner-content .content-col {
        padding-left: 30px;
    }

    /*About Section*/
    .crochet-creations .section-title-desc {
        position: relative;
        left: -30px;
        width: 100vw;
        height: 100%;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        font-size: 18px;
        line-height: 30px;
        font-weight: normal;
        text-align: center;
    }
    /*Footer*/
    .crochet-creations .footer .copyright,
    .crochet-creations .footer .copyright .social {
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    /*Banner*/
    .crochet-creations .banner .top-bar,
    .crochet-creations .banner .top-bar-right {
        text-align: left;
    }

    /*About Section*/
    .crochet-creations .section-title-desc {
        position: relative;
        width: 100vw;
        height: 100%;
        background-color: #ffff;
        font-family: 'Open Sans', sans-serif;
        color: #555;
        font-size: 18px;
        line-height: 30px;
        font-weight: normal;
        text-align: center;
        display: inline-block;
        text-align: center;
        height: 250px;
        width: auto;
        padding: 10px 20px;
    }


    /*Footer*/
    .crochet-creations .contact-section .appointment
    .appointment-form .box-select::before {
        content: "\f0dd";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        top: 41%;
        width: 35px;
        height: 38px;
        text-align: left;
        font-size: 14px;
        line-height: 37px;
        color: rgb(255, 255, 255);
        background-color: rgb(123, 108, 213);
        font-weight: 600;
        border-radius: 3px;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    /*About Section*/
    .crochet-creations .section-title-desc {
        position: relative;
        left: 0px;
        width: 100%;
        height: 50%;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        font-weight: normal;
        text-align: center;
        display: inline-block;
        text-align: center;
        height: 100px;
        width: 100vw;
        padding: 10px 20px;
    }
}