@media (max-width: 991.98px) {

    /*Global*/
    .sections-detail {
        margin: 0 0 30px;
    }
    /*Banner*/
    .crochet-creations .banner .banner-overlay {
        position: absolute;
        top: 5px;
        width: 100%;
        height: 100%;
        max-width: 1920px;
        background-color: rgba(0,0,0,.5);
        z-index: 2;
    }

    .crochet-creations .banner .top-bar {
        padding: 40px 50px;
    }

    .crochet-creations .banner .top-bar-left a {
        font-size: 15px;
    }

    .crochet-creations .banner .banner-content .content-col {
        padding-left: 30px;
    }

    /*Footer*/
    .crochet-creations .footer .copyright,
    .crochet-creations .footer .copyright .social {
        text-align: center;
    }
}

@media (min-width: 767.98px) {
    /*Banner*/
    .crochet-creations .banner .banner-overlay {
        position: absolute;
        top: -5px;
        width: 100%;
        height: 100%;
        max-width: 1920px;
        background-color: rgba(0,0,0,.5);
        z-index: 2;
    }
    .crochet-creations .banner .top-bar {
        padding: 40px 50px;
    }

    .crochet-creations .banner .top-bar-right {
        text-align: center;
    }


}


