* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: auto;
	background-color: #d88668;
	font-family: 'Open Sans', sans-serif;
	color: #555;
	font-size: 15px;
	line-height: 30px;
	font-weight: normal;
	text-align: left;
}
h1,h2,h3,
h4,h5,h6 {
	font-size: inherit;
	line-height: inherit;
	font-family: 'Josefin Sans', sans-serif;	
}
h1,h2,h3,
h4,h5,h6,p,ul,li,a,span {
	margin:0;
}
a {
	text-decoration: none;
	color:#555;
	cursor: pointer;
}
.main-container {
	max-width: 1920px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;	
}
.inside-container {
	max-width: 940px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0 15px;
}
.sections-detail {
	margin: 0 0 55px;
}
.section-title {
	font-family: 'Roboto Slab', serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: 0.84px;
	font-weight: 700;
	color: #7b6cd5;
	text-align: center;
}
.section-title-desc {
	font-size: 15px;
	line-height: 40px;
	font-weight: 400;
	letter-spacing: 0.45px;
	color: #666;
	text-align: center;
}
/*Banner*/
.yoga-template .banner {
	/*background-image: url(../img/3Bunnies.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: auto;
	color: #fff;
	position: relative;*/
}
.yoga-template .banner .banner-overlay {
	position: absolute;
	top: 0;
    width: 100%;
    height: 60%;
    max-width: 1920px;
    background-color: rgba(0,0,0,.5);
    z-index: 2;
}
.yoga-template .banner .top-bar{
	padding:26px 15px; 
	border-bottom: 1px solid #fff;
}
.yoga-template .banner .top-bar-left ,
.top-bar-right {
	padding-top: 24px;	
	z-index: 3;
}
.yoga-template .banner .top-bar-left a {
	color:#fff;
	font-size: 18px;
	letter-spacing: 0.18px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	vertical-align: middle
}
.yoga-template .banner .logo {
	text-align: center;
	z-index: 3;
}
.yoga-template .banner .top-bar-right {
	text-align: right;
}
.yoga-template .banner .top-bar-right a {
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	font-size: 18px;
	letter-spacing: 0.18px;
	font-weight: 400;
	vertical-align: middle
}
.yoga-template .banner .top-bar-left a:hover,
.yoga-template .banner .top-bar-right a:hover {
		color: #DCCB0F;
		text-decoration: none;
}
.yoga-template .banner .top-bar-left i,
.top-bar-right i {
	font-size: 16px;
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    color: #3e2d40;
    vertical-align: middle;
    padding-top: 5px;
}
.yoga-template .banner .banner-content {
	padding: 126px 15px;
}
.yoga-template .banner .banner-content .content-col {
	text-align: center;
	z-index: 3;
}
.yoga-template .banner .banner-content .site-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
	line-height: 40px;
	font-weight: 700;
	margin-bottom: 18px;
	padding-right: 15px;
}
.yoga-template .banner .banner-content .site-title-desc {
	font-size: inherit;
	line-height: 25px;
	letter-spacing: 0.45px;
	margin-bottom: 51px;
	width: 97%;
}
.yoga-template .banner .banner-content a.banner-btn {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 0.6px;
		font-weight: 700;
		padding: 21px 32px 19px;
/*Banner Button*/
		background-color: #294A8C;
		color: #fff;
		border-radius: 3px;
		text-transform: uppercase;
}
.yoga-template .banner .banner-content a.banner-btn:hover {
			text-decoration: none;
			color: #26251B;
}
/*Amigurumi of the Month*/
.yoga-template .service-section {
	padding: 62px 15px;
}
.yoga-template .service-section .service-detail {
	text-align: center;
}
.yoga-template .service-section .amigurumi {
}
.yoga-template .service-section .service-detail a:hover {
		text-decoration: none;
}
.yoga-template .service-section .service-detail a:hover .service-title{
	text-decoration: none;
	color: #fe86d4;
}
.yoga-template .service-section .service-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	line-height: 40px;
	font-weight: 700;
	letter-spacing: 0.75px;
	color: #000;
	margin-bottom: 15px;
}
.yoga-template .service-section .service-desc {
	font-family: inherit;
	font-size: inherit;
	line-height: 25px;
	font-weight: 400;
	letter-spacing: 0.40px;
}
.yoga-template .service-section .service-detail-img {
	max-width: 90px;
 	height: auto;
}

/*Copyright*/
.yoga-template .footer .copyright {
	padding: 50px 15px;
	background-color: #193c4d;
	color: #fff;
	font-family: inherit;
	font-size: 14px;
	line-height: 26px;
}
.yoga-template .footer .copyright .created-by {
	color: #fff;
}
.yoga-template .footer .copyright .emaillogo {
	color: #fff;
	font-size: 18px;
	letter-spacing: 0.18px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	vertical-align: middle
}
