/* -----===== Main Style.css =====----- */

:root { --bg_green: #c7c79a; --medium-green: #969660; --light-green: #f1f1cd; --white: #fff7f3; 
    --darkest-green: #575739; --dark-green: #77774c;}
@font-face { font-family: 'winkle'; font-weight: normal; src: url('../assets/fonts/winkle_regular.ttf') format('truetype'); }

html {
    scrollbar-width: thin;
    scrollbar-color: var(--darkest-green) transparent;
}
html, body {
    overscroll-behavior: none;
    overscroll-behavior-y: none; 
}

::-webkit-scrollbar {
width: 6px;
}
::-webkit-scrollbar-track {
background: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg_green);
    display: block;
}

h1 {
    font-family: winkle;
    color: var(--white);
    text-shadow: -1px -1px 0 var(--darkest-green), 1px -1px 0 var(--darkest-green), -1px  1px 0 var(--darkest-green), 1px  1px 0 var(--darkest-green);
}

footer {
    position: relative;
    padding: 25px;
    padding-bottom: 80px;
    background-color: var(--dark-green);
}

img, #title {
    z-index: -2;
}

.overlay {
    width: 99%;
    height: 80%;
    position: absolute;
    z-index: -1;
}

.spacer {
    flex-grow: 1;
}

.title-buttons {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: var(--medium-green);
    right: 0;
    border-bottom-left-radius: 50px;
}

.columns-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 15px;
}

.row-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 15px;
}

.hide-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    backdrop-filter: blur(8px);
    background-color: rgba(241, 241, 205, 0.2);
    z-index: 10;
}

.coming-soon {
    position: absolute;
    font-size: 50px;
    height: 125px;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    text-align: center;
}

.cube-headers {
    position: absolute;
    font-size: 50px;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sprouts {
    position: absolute;
    height: 125px;
    width: auto;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.stickers {
    position: absolute;
    height: 125px;
    width: auto;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.pattern-headers a {
  color: inherit;
  text-decoration: none;
}

.fa-brands, .fa-solid,
.fa-regular {
    color: var(--white);
    text-shadow: 
        -1px -1px 0 var(--darkest-green), 
        1px -1px 0 var(--darkest-green), 
        -1px 1px 0 var(--darkest-green), 
        1px 1px 0 var(--darkest-green);
    font-size: 40px;
}

/* == index.html == */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px; 
}

/* -----===== Style Index.css =====----- */

/* === Body === */
#shopping-bag, #bell {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;   
    position: absolute;
    right: 50px;
    top: 25px;
}
#bell {
    right: 125px;
}

#shopping-bag:hover, #bell:hover {
    outline: none;
    box-shadow: none;
}

#title {
    height: 200px;
}

#title-curved {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 40px;
}

#curve-svg{
    display: block;
    width: 100%;
    height: 150px;
}

#svg-heading {
    font-family: 'winkle', sans-serif;
    fill: var(--white);
    paint-order: stroke;
    stroke: var(--darkest-green);
}

#title-bear {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    top: -125px;
}

#bear-static {
    display: none;
    width: 100px;
    margin: 0 auto;
}

#bear-base,
#bear-eyes,
#bear-nose {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    align-self: center;
    align-items: center;
}

#bear-eyes,
#bear-nose {
    image-rendering: pixelated;
    transition: transform 0.1s ease-out;
    will-change: transform;
}

#subheader {
    margin: 30px auto;
    text-align: center;
    font-size: 40px;
    margin-bottom: 70px;
}

#merch, #patterns, #plushies {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: var(--light-green);
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

#amazon-links {
    position: relative;
    width: 1260px;
    height: 200px;
    background-color: var(--light-green);
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
}

#merch::before, #patterns::before, #amazon-links::before{
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    border-radius: inherit;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 0;
}

#patterns::before {
    background-image: 
        linear-gradient(#f1f1cdf3, #f1f1cda2),
        url("../assets/images/pattern_bg.JPEG");
}

#plushies::before {
    background-image: 
        linear-gradient(#f1f1cdf3, #f1f1cda2),
        url("../assets/images/shop_bg.jpg");
}

#patterns:hover::before, #plushies:hover::before {
  opacity: 1;
}

#bear-sticker {
    height: 140px;
    width: auto;
}
#bear-reading {
    height: 180px;
    bottom: 30px;
}

#checkout-container {
    display: none;
}

/* === Footer === */
#footer-title {
    margin-left: 100px;
}

#credits {
    margin-top: 0;
    text-decoration: none;
    display: flex;
    align-self: center;
    align-items: center;
    margin-right: 100px;
    display: none;
    /*DONT DISPLAY WITHOUT RESPONSIVE !IMPORTANT*/
}

/* -----===== Responsive.css =====----- */


/* Mobile -- Sideways */
@media (max-width: 1150px) {
    html {
        scrollbar-width: none;
    }

    h1 {
        font-size: 35px !important;
    }

    /* ===+++=== */
    .sprouts {
        height: 100px;
        top: -80px;
    }

    .stickers {
        bottom: 30px;
        height: 100px;
    }

    .columns-top,
    .row-bottom {
        gap: 15px;
        padding: 0 15px;
    }

    .footer-container {
        padding: 30px;
    }

    /* ===+++=== */
    #bear-reading {
        bottom: 0;
    }

    #merch,
    #patterns,
    #plushies {
        width: 300px;
        height: 300px;
        border-radius: 50px;
    }
}

/* Mobile */
@media (max-width: 780px) {

    html {
        scrollbar-width: none !important;
    }

    h1 {
        font-size: 30px !important;
    }

    /*===+++===*/
    .title-buttons {
        position: relative;
        height: 75px;
        width: 100vw;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }

    .fa-brands, .fa-solid,
    .fa-regular {
        font-size: 40px;
    }

    .fa-canadian-maple-leaf {
        font-size: 35px;
    }

    .columns-top {
        flex-direction: column;
        gap: 15px;
        width: 98%;
        margin: 0 auto;
    }

    .sprouts {
        height: 90px;
        top: -70px;
    }

    .stickers {
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        height: 125px;
        width: auto;
    }

    .row-bottom {
        margin: 15px 0;
        display: flex;
    }

    .footer-container {
        padding: 30px;
    }

    /* ===+++=== */
    #title {
        height: 200px;
    }

    #bell,
    #shopping-bag {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;   
        position: absolute;
        right: 35%;
        top: 15px;
    }
    #bell {
        right: 55%;
    }

    #subheader {
        margin: 100px auto;
        margin-bottom: 50px;
        font-size: 30px !important;
    }

    /* Order */
    #patterns      { order: 1; }
    #plushies      { order: 2; }
    #merch         { order: 3; }
    #amazon-links  { order: 4; }

    #merch .sprouts,
    #plushies .sprouts {
        display: none;
    }

    #merch,
    #patterns,
    #plushies,
    #amazon-links {
        width: 95% ;
        max-width: 1260px;
        height: 300px;
        margin: 0 auto;
    }

    #footer-title {
        margin-left: 50px;
    }

}


/* ---------------===== DEBUG =====--------------- */